
.main_wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:5%;
    z-index:auto;
}
.profile_wrap {
   
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: .02rem solid #52d6f4;
}
.avatar img {
    border: 1rem solid white;
    border-radius: 100% 100% 0% 100%;
}
.detail_wrap {
 
    margin: 1rem;
    border: .02rem solid #52d6f4;
    padding: 3rem;
}
.rating_wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: .02rem solid #52d6f4;
    width: 50%;
}
.rating {
   
    width:50%;
}


.btn1 {
    width: 25rem;
    height: 5rem;
    background-color: #52d6f4;
    font-size:32px;
    margin-left:40%;
    padding-bottom:5%;
}

.divbox {
    width:25rem;
    border: 2px solid #52d6f4;
    padding: 2% 2% 2% 2%;
    margin-bottom:5%;
    border-radius:10px;
    
}

.heading_label input{
    width:18rem;
}

.level {
   
    display: flex;
    flex-direction: column;
    margin-top: 2%;
}