
/*-------maincourse css------------------*/
.heading_label {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Lato', sans-serif;
}

.box{
    height:100vh;   
}
.video_title h3 {
    height: 4rem;
    display: flex;
    justify-content: center;
    margin:1rem;
    padding-top:1rem;
    /*margin-right:100px;*/
    padding-left: 5rem;
    padding-right: 5rem;
    border: .01rem solid #52d6f4;
}
.video_description p {
    height: 4rem;
    display: flex;
    justify-content: center;
    
    padding-top: 1rem;
    /*margin-right:100px;*/
    padding-left: 5rem;
    padding-right: 5rem;
    border: .01rem solid #52d6f4;
}
.video_description p:hover {
    box-shadow: 0px 30px 15px -3px rgba(0,0,0,0.1);
    transform: scale(1.02,1.02);
    background: linear-gradient(to left, #c1b1f7, #52d6f4);
}
.video_title h3:hover {
    box-shadow: 0px 30px 15px -3px rgba(0,0,0,0.1);
    transform: scale(1.02,1.02);
    background: linear-gradient(to left, #c1b1f7, #52d6f4);
}

.element_style {
    border: .5rem solid #52d6f4;
}


/*----------------------coursespage css-------------*/
.coursescards {
    width: 100%;
    height: auto;
}

.coursescard {
    margin: 3%;
    transition: all 0.4s cubic-bezier(0.075, 0.885, 0, 1);
    background-color: #fff;
    height: 18rem;
    width: 27.25%;
    border-radius: 12px;
    box-shadow: 0px 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
    padding: 3rem;
    border: .01rem solid #52d6f4;
    font-family: 'Lato', sans-serif;
}
   
    .coursescard:hover {
        box-shadow: 0px 30px 18px -8px rgba(0,0,0,0.1);
        transform: scale(1.02,1.02);
        background: linear-gradient(to left, #c1b1f7, #52d6f4);
    }



.coursescard_title {
    margin-top: 5px;
    margin-bottom: 10px;
    object-fit: contain;
    text-transform: capitalizes;
    font-family: 'Lato', sans-serif;
}

.coursescard_description {
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
}

coursescard_description:hover {
    background: linear-gradient(to left, #c1b1f7, #52d6f4);
}
.button {
    margin-top: 2rem;
    padding: 5px 8px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    font-weight: 500;
    color: #868686;
    outline: none;
   
    cursor: pointer;
    background: linear-gradient(to left, #c1b1f7, #52d6f4);
}

    .button:hover {
        background: #fff;
        color: black;
        /* box-shadow: 0px 30px 18px -3px rgba(148, 24, 24, 0.1);*/
        transform: scale(1.05, 1.05);
        text-decoration: none;
    }

@media (max-width:768px) {
    .coursescard {
        float: none;
        margin: 5%;
        width: 90%;
    }
}

@media (max-width:768px) {
    .coursescard_img {
        width: 100%;
        height: 190px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}