.contain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.eventlistt {
    width: 22.8rem;
    height: fit-content;
    /* position: -webkit-sticky;
    position: sticky;*/
    top: 5%;
    margin-left: 5%;
    margin-top: 2.5%;
    border: 2px solid #d9edf7;
}

.panel.date {
    margin: 0px;
    width: 100%;
    text-align: center;
}

    .panel.date .month {
        padding: 2px 0px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .panel.date .day {
        padding: 3px 0px;
        font-weight: 700;
        font-size: 1.5em;
    }

.previousEvents {
    margin-left: 2%;
    height: fit-content;
    width: 70rem;
}

.Events {
    width: 100%;
    /* height:fit-content;*/
    display: flex;
    justify-content: center;
    height: 30rem;
}

.Event {
    /* margin-left:30%;*/
    position: relative;
    margin-bottom: 8rem;
    justify-content: center;
    background-color: #d9edf7;
    width: fit-content;
    height: 20em;
}



.previousEvents h1 {
    width: 100%;
    /* margin-left:15%;*/
    margin-top: 4%;
    background-color: #d9edf7;
    justify-content: center;
    text-align: center;
}


.previousEvents {
    width: 60%;
    border-radius: 14px;
}

.description {
    margin-top: 2%;
    width: 100%;
    height: 100%;
}



.media-heading:hover {
    cursor: pointer;
    color: black;
}

.title:hover {
    cursor: pointer;
}

@media (max-width: 1080px) {
    .eventlist {
        position: relative;
        margin-top: 5%;
    }

    .previousEvents {
        width: 100%;
    }
}

.attend {
    outline: none;
    border: none;
    background-color: #d9edf7;
}

.panel-title {
    width: 100%;
    height: 2.7rem;
    background-color: #d9edf7;
    text-align: center;
    justify-content: center;
}

.media-body {
    margin-left: 5%;
}